.img-parent{
    overflow:hidden;
}
.cart-img{
    transform: scale(1);
    transition: all .8s linear;
}
.cart-img:hover{

    transform: scale(1.5);

}
.service{
    background-color: rgb(231, 237, 240);
    border-radius: 5px;
}
