.airplan{
    font-size: 50px;
    color: dimgrey;
    
}
.ip2 {
    border-radius: 25px;
    border: 2px solid rgb(209, 104, 18);
    padding: 20px; 
    width: 200px;
    height: 10px; 
    margin-left: 10px;  
    margin-left: 25px; 
}
.subscribe{
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    color: cornsilk;
    
    
}
.iteam{
    margin: 20px;
    padding: 20px;
}