.parent{
    
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../../../images/julien-de-salaberry-oJtRGajzfqI-unsplash.jpg');
    background-attachment: fixed;
    height: 80vh;

    /* height: 200px; */

}